<form method="post" action="{{ path('app_admin_category_delete', {'slug': category.slug}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer la categorie : {{ category.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.slug) }}">
    <button class="btn">Supprimer</button>
</form>
