<div class="bg-success">
    <div class="d-flex">
        <div class="me-5">
            <h1>La Nîmes'alerie</h1>
            <ul>
                <li>Qui sommes-nous ?</li>
                <li>Mentions légales</li>
                <li>Politique de confidentialité</li>
                <li>Politiques des cookies</li>
                <li>CGU Boutique</li>
                <li>Nous contacter</li>
            </ul>
        </div>
        <div>
            <h1>Accès utiles</h1>
            <ul>
                <li>Mon compte</li>
                <li>Paiement en plusieurs fois</li>
                <li>Retour et remboursement</li>
                <li>Parrainage</li>
            </ul>
        </div>
    </div>
    <p class="copyright text-center">2022 &copy; La Nîmes'alerie</p>
</div>