<div class="securityBar">
    <ul>
        <li><img class="icon" src="{{ asset('build/images/lock.svg') }}" alt="Sécurité client">Paiement sécurisé</li>
        <li><img class="icon" src="{{ asset('build/images/euro.svg') }}" alt="Sécurité client">Livraison offerte dès 49€</li>
        <li><img class="icon" src="{{ asset('build/images/delivery.svg') }}" alt="Sécurité client">Livraison rapide en 24h !</li>
        <li><img class="icon" src="{{ asset('build/images/check.svg') }}" alt="Sécurité client">Retour gratuit sous 30 jours</li>
    </ul>
</div>