<form method="post" action="{{ path('app_admin_status_delete', {'slug': status.slug}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer le produit : {{ status.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.slug) }}">
    <button class="btn">Supprimer</button>
</form>
