{{ form_start(form) }}
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-lg-3">
        {{ form_row(form.code) }}
    </div>
</div>
{{ form_end(form) }}
