{% extends 'back/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    Nouveau status de commande
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between mt-4 mb-2">
            <h1>Créer un nouveau status</h1>
            <a class="btn btn-primary my-2" href="{{ path('app_admin_status_index') }}">Retour à la liste</a>
        </div>

        <div class="mt-3">
            {{ include('back/status/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
