<form method="post" action="{{ path('app_admin_product_delete', {'slug': product.slug}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer le produit : {{ product.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.slug) }}">
    <button class="btn">Supprimer</button>
</form>
